APP_ENV=production
APP_URL=https://kupsiapku.cz
DB_HOST=sdb-53.hosting.stackcp.net
DB_PORT=3306
DB_NAME=affiliate-3530303556c5
DB_USER=user-6015
DB_PASSWORD=CHANGE_ME
AFFILIATE_COMMISSION_PERCENT=20
AFFILIATE_MIN_PAYOUT_MINOR=100000
SESSION_DAYS=30
VERIFY_EMAIL_HOURS=24
RESET_PASSWORD_MINUTES=60
DONATION_ACCOUNT=
